<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.common.mapper.xc.OutingTypeValueMapper">

    <select id="typeValue" resultType="org.springblade.common.entity.xc.OutingTypeValueEntity">
        select * from xc_outing_type_value
    </select>
</mapper>
