<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.common.mapper.xc.PopularHotelMapper">

    <select id="channelValue" resultType="org.springblade.common.entity.xc.PopularHotelEntity">
        select * from xc_popular_hotel where create_time = ((SELECT MAX(create_time) FROM xc_popular_hotel)) ORDER BY SUBSTRING(`value`,1,LENGTH(`value`)-1) +0 DESC
    </select>
</mapper>
