<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.common.mapper.xc.ReserveChannelMapper">

    <select id="channelValue" resultType="org.springblade.common.entity.xc.ReserveChannelEntity">
        select * from xc_reserve_channel  where create_time = (select max(create_time) from xc_reserve_channel)
    </select>
</mapper>
