<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.screen.mapper.UnionPayMapper">

    <select id="consumerAres" resultType="org.springblade.common.vo.Index5VO">
        SELECT
        zone,
        sum(trans_at) as transAt,
        sum(trans_num) as transNum,
        sum(acct_num) as acctNum
        FROM
        bm_sanya_travel_day_index5
        WHERE
        PERIOD_DIFF( date_format(now( ), '%Y%m' ), date_format( deal_day, '%Y%m' ) ) =1
        AND zone != '金鸡岭'
        AND zone != '河西路'
        AND zone != '河东路'
        AND zone != '荔枝沟'
        <if test="typeStr != null  and typeStr != '' ">
            AND  traveller_type = #{typeStr}
        </if>
        GROUP BY
        zone

    </select>

    <select id="getIndustry" resultType="org.springblade.common.entity.yl.TravelDayIndex2">
        SELECT
            mcc_type,
            sum(trans_at) as transAt,
            sum(trans_num) as transNum,
            sum(acct_num) as acctNum
        FROM
            bm_sanya_travel_day_index2
        WHERE
            PERIOD_DIFF( date_format(now( ), '%Y%m' ), date_format( deal_day, '%Y%m' ) ) =1
        GROUP BY
            mcc_type

    </select>

    <select id="getPerCapitalConsumptionList" resultType="org.springblade.common.entity.yl.TravelDayIndex4">
         SELECT
            source_province,
            sum( trans_at ) AS transAt,
            sum( trans_num ) AS transNum,
            sum( acct_num ) AS acctNum,
            (sum( trans_at ) / sum( trans_num )) as count
        FROM
            bm_sanya_travel_day_index4
        WHERE
            PERIOD_DIFF( date_format(now( ), '%Y%m' ), date_format( deal_day, '%Y%m' ) ) =1
        GROUP BY
            source_province
        order by
            count desc
        limit 10
    </select>

    <select id="average" resultType="java.lang.String">
        SELECT
            (sum( trans_at ) / sum( trans_num )) AS average
        FROM
            bm_sanya_travel_day_index5
        WHERE
            PERIOD_DIFF( date_format(now( ), '%Y%m' ), date_format( deal_day, '%Y%m' ) ) =1

    </select>
</mapper>
