<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.common.mapper.analysis.AnalysisMapper">

    <select id="touristVolume" resultType="java.util.Map">
        select
            DATE_FORMAT( create_time, '%Y-%m-%d' ) createTime,
            percent
        from
            tx_analysis
        <where>
            type = 'population' and type_code = #{typeCode}
            <if test="startTime != null and startTime != ''">
                AND DATE_FORMAT( create_time, '%Y-%m-%d' )  &gt;=  #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND DATE_FORMAT( create_time, '%Y-%m-%d' )  &lt;= #{endTime}
            </if>
        </where>
        order by create_time DESC LIMIT 0,15
    </select>


    <select id="touristTable" resultType="org.springblade.common.entity.tx.analysis.AnalysisEntity">
        select * from  tx_analysis WHERE  type = 'population'
        <if test="typeCode != null and typeCode != ''">
            AND type_code = #{typeCode}
        </if>
        <if test="startTime != null and startTime != ''">
            AND DATE_FORMAT( create_time, '%Y-%m-%d' )  &gt;=  #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND DATE_FORMAT( create_time, '%Y-%m-%d' )  &lt;=  #{endTime}
        </if>
        ORDER BY create_time DESC
    </select>




    <select id="travelDistance" resultType="org.springblade.common.entity.TravelDistance">
        SELECT
            create_time,
            type_code,
            sum( CASE property WHEN '无旅行' THEN percent ELSE 0 END ) AS 'nearlyWayPercent',
            sum( CASE property WHEN '短途' THEN percent ELSE 0 END ) AS 'shortPercent',
            sum( CASE property WHEN '中途' THEN percent ELSE 0 END ) AS 'halfwayPercent',
            sum( CASE property WHEN '长途' THEN percent ELSE 0 END ) AS 'longPercent',
            ( SELECT ifnull(max(percent),0) FROM tx_analysis WHERE type = 'population' AND create_time = b.create_time AND type_code = b.type_code ) totalPeople
        FROM
            tx_analysis b
        WHERE
            type = 'distance'
            <if test="typeCode != null and typeCode != ''">
                AND type_code = #{typeCode}
            </if>
            <if test="startTime != null and startTime != ''">
                AND create_time  &gt;=  #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND create_time  &lt;=  #{endTime}
            </if>
        GROUP BY
            create_time,
            type_code
        ORDER BY
            create_time DESC
    </select>




    <select id="countThree" resultType="org.springblade.common.entity.TravelDistance">
        SELECT  create_time,type_code,
        sum(case property when '短途' then percent else 0 end) as 'shortDistance',
        sum(case property when '中途' then percent else 0 end) as 'halfway',
        sum(case property when '长途' then percent else 0 end) as 'longDistance',
        (SELECT percent FROM  tx_analysis WHERE type = 'population' and create_time = b.create_time limit 1) totalPeople
        FROM tx_analysis b where  type = 'distance' AND property !="无旅行"
        <if test="typeCode != null and typeCode != ''">
            AND type_code = #{typeCode}
        </if>
        <if test="startTime != null and startTime != ''">
            AND create_time  &gt;=  #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND create_time  &lt;=  #{endTime}
        </if>
        GROUP BY create_time,type_code
    </select>


    <select id="sumPeople" resultType="java.lang.Integer">
        SELECT SUM(percent) from  tx_analysis WHERE  type = 'population'
        <if test="typeCode != null and typeCode != ''">
            AND type_code = #{typeCode}
        </if>
        <if test="startTime != null and startTime != ''">
            AND create_time  &gt;=  #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND create_time  &lt;=  #{endTime}
        </if>
    </select>

    <select id="saveBatch">
        insert into
        tx_analysis (property,percent,type,type_code,create_time)
        values
        <foreach collection="list" item="value" separator=",">
            (#{value.property},#{value.percent},#{value.type}, #{value.typeCode},#{value.createTime})
        </foreach>
    </select>

    <select id="getTime" resultType="org.springblade.modules.backstage.vo.TimeVO">
        SELECT
            DATE_FORMAT(max( create_time ),'%Y-%m-%d') as maxTime,
            DATE_FORMAT(min( create_time ),'%Y-%m-%d') as minTime
        FROM
            `tx_analysis`
        <where>
            <if test="type != null and type != '' ">
                type = #{type}
            </if>
            <if test="typeCode != null and typeCode != ''">
                AND type_code = #{typeCode}
            </if>
        </where>
    </select>

</mapper>
